html,
body {
  padding: 0;
  margin: 0;
  font-family: "Open Sans", sans-serif, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

body {
  height: 100vh;
  position: relative;
}

@keyframes bg {
  0% {
    background-position: 0% 4%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 4%;
  }
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
