.container {
  height: 100vh;
  padding: 0 0.5rem;
  color: #fdfdfd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    #051937,
    #004d7a,
    #008793,
    #00bf72,
    #009fff,
    #ec2f4b
  );
  background-size: 1000% 1000%;
}

.container.animated {
  animation: bg 15s infinite;
  animation-timing-function: ease;
}

@keyframes bg {
  0% {
    background-position: 0% 4%;
  }

  50% {
    background-position: 100% 96%;
  }

  100% {
    background-position: 0% 4%;
  }
}

.main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.subtitle {
  font-size: 28px;
  font-weight: 400;
}

.title,
.subtitle {
  text-align: center;
}

.icons {
  align-self: center;
  width: 80px;
  display: flex;
  justify-content: space-between;
}

.icon {
  transition: all 0.2s;
  height: 25px;
  width: 25px;
}

.icon:hover {
  transform: scale(1.15);
}
